/* Header container */
.header {
  border-radius: 8px;
  border: 1.5px solid rgba(174, 77, 50, 0.984);
    background-color: #cfa4a4;
    padding: 15px 0;
    margin-bottom:18px ;
    height: 5vh;
}
  
  /* Navigation menu */
  .header nav ul {
    list-style: none;
    margin-top: 5px;
    padding: 0;
    text-align: center;
  }
  
  /* Navigation menu items */
  .header nav ul li {
    display: inline;
    margin: 0 20px;
  }
  
  /* Navigation links */
  .header nav ul li a {
    text-decoration: none;
    font-size: large;
    color: #df3c3c;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  /* Hover effect for links */
  .header nav ul li a:hover {
    color: #7d5454;
  }