.image img{
    height: 150px;
    width: 200px;
    border-radius: 6px;
    box-shadow: 5px 5px 6px black;
}
.content h2{
    font-size: 28px;
    font-weight: bolder;
}
.content p{
    font-size: 17px;
    color: rgb(172 , 12 , 12);
    font-weight: bolder;
}
.btn button{
    background-color: rgb(224 , 104 , 104);
    color: rgb(162, 72, 16);
    border-radius: 6px;
    border: none;
    height: 28px;
    margin-bottom: 14px;
}

.btn button:hover{
    color: bisque;
}

.heartFvrt {
    display:inline-block;
    width: 40px; 
    aspect-ratio: 1;
    border-image: radial-gradient(red 69%,#0000 70%) 84.5% fill/100%;
    clip-path: polygon(-41% 0,50% 91%, 141% 0);
    background-color: transparent;
    margin-left: 96%;
  }


  .heartUnfvrt {
    display:inline-block;
    width: 40px; 
    aspect-ratio: 1;
    border-image: radial-gradient(rgb(14, 0, 0) 69%,rgba(1, 0, 0, 0) 70%) 84.5% fill/100%;
    clip-path: polygon(-41% 0,50% 91%, 141% 0);
    background-color: transparent;
    margin-left: 96%;
  }